<!DOCTYPE html>
<html>
  <head>
    <title>找回密码</title>
    <meta charset="utf-8">
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #f2f2f2; padding: 40px; position: relative;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 30px;">
      <h1 style="font-size: 24px; margin-bottom: 20px;">【一站式任务收集平台】找回密码</h1>
      <p style="font-size: 16px;">尊敬的用户{{ username }},您好！</p>
      <p style="font-size: 16px;">您在我们的【一站式任务收集平台】上申请了找回密码。请点击下面的链接进行操作。如果你没有申请找回密码，请忽略这封邮件。</p>
      <div style="margin-top: 20px; margin-bottom: 30px;">
        <a href="{{ reset_link }}?uid={{ uid }}&token={{ token }}" style="display: inline-block; background-color: #009688; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 18px;">找回密码</a>
      </div>
      <p style="font-size: 16px;">链接只能使用一次，并且在24小时后会失效。如果你需要再次找回密码，请重新提交申请。</p>
      <p style="font-size: 16px;">如果您有任何问题或疑问，请随时联系我，我很乐意为您提供帮助。</p>
      <p style="font-size: 16px;">谢谢！</p>
      <p style="font-size: 16px;">管理员：hilyary</p>
    </div>
  </body>
</html>