<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/tc.css">
    <!-- 导入样式表 -->
    <link rel="shortcut icon" href="/static/img/logo.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一站式任务收集平台|找回密码</title>
</head>
<body>
  {% if messages %}
  <div style="text-align:center; padding:20px;">
      {% for message in messages %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}
    <div class="login-box">
        <a>
        <h2>找回密码<h2>
        </a>
        <form method="post" action="#" id="loginForm">
            {% csrf_token %}
          <div class="user-box">
            <input type="email" id="email" name="email" required="请输入您的注册邮箱">
            <label>请输入您的注册邮箱：</label>
          </div>
          <a onclick="document:loginForm.submit()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            发送邮件
          </a>
          <a href="/index/fhdl">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            返回登录
          </a>
        </form>

      </div>
</body>
</html>